@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	--ifm-color-primary: #248de0;
	--ifm-color-primary-dark: rgb(33, 175, 144);
	--ifm-color-primary-darker: rgb(31, 165, 136);
	--ifm-color-primary-darkest: rgb(26, 136, 112);
	--ifm-color-primary-light: rgb(70, 203, 174);
	--ifm-color-primary-lighter: rgb(102, 212, 189);
	--ifm-color-primary-lightest: rgb(146, 224, 208);
	--ifm-code-font-size: 95%;
	--qtheme-color-dark: #04080c;
	--qtheme-color-darkL1: #0e1317;
	--qtheme-color-darkL2: #22262e;
	--qtheme-color-light: #f8faff;
	--qtheme-color-lightD1: #edf2f6;
	--qtheme-color-lightD2: #e4e8ec;
	--qtheme-color-grey: #6f839f;
	--qtheme-color-greyD1: #637897;
	--qtheme-color-greyD2: #586d8e;
	--ifm-menu-color-active: #0065bc;
	--ifm-menu-color: #22262e;
	--ifm-menu-color-background-active: rgba(77, 174, 243, 0.2);
	--ifm-menu-color-background-hover: rgba(228, 232, 236, 0.5);
	--ifm-spacing-horizontal: 2rem;
	--ifm-heading-font-family-source-sans-pro: 'Source Sans Pro, sans-serif';
	--ifm-font-family-base: 'Source Sans Pro', sans-serif;
	--ifm-hr-border-color: #edf2f6;
	--ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
	--ifm-navbar-search-input-cross: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M12.2427 3.74267C12.6332 4.1332 12.6332 4.76636 12.2427 5.15689L9.41419 7.98537L12.2426 10.8138C12.6331 11.2043 12.6331 11.8374 12.2426 12.228C11.8521 12.6185 11.219 12.6185 10.8284 12.228L8 9.39955L5.1716 12.228C4.78108 12.6185 4.14792 12.6185 3.75739 12.228C3.36687 11.8374 3.36687 11.2043 3.75739 10.8137L6.58578 7.98535L3.75731 5.15691C3.36678 4.76638 3.36678 4.13322 3.75731 3.74269C4.14783 3.35217 4.78099 3.35217 5.17152 3.74269L7.99998 6.57115L10.8285 3.74267C11.219 3.35215 11.8521 3.35215 12.2427 3.74267Z"/>  </svg>');
}

/* GLOBAL BLOCKS */

.navbar,
.footer {
	background-color: var(--qtheme-color-darkL2);
	transform: none !important;
}

.menu {
	background-color: var(--qtheme-color-light);
	border-right: 1px solid var(--qtheme-color-lightD2);
}

main[class^='docMainContainer'],
main[class^='docMainContainer'] .container {
	background-color: #ffffff;
}

/* GLOBAL FOCUS STYLES */

body:not(.navigation-with-keyboard) *:not(input):focus {
	outline: none;
	box-shadow: none;
}

*:focus {
	box-shadow: inset 0px 0px 0px 2px var(--ifm-color-primary);
	outline: none;
}

/* TOPBAR && SIDEBAR ELEMENTS */

a[class^='sidebarLogo'] {
	margin: 0;
	padding: 0 2rem;
	background-color: var(--qtheme-color-darkL2);
	border-right: 1px solid var(--qtheme-color-lightD2);
}

a[class^='sidebarLogo'] strong {
	color: var(--qtheme-color-light);
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	background: transparent var(--ifm-navbar-search-input-cross) no-repeat
		center center / 14px 14px;
}

.navbar__brand,
.navbar__brand:hover {
	color: var(--ifm-navbar-link-color);
}

.menu__link--sublist:after {
	background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

/* PAGINATION BUTTONS */

@media screen and (max-width: 379px) {
	.pagination-nav {
		flex-direction: column;
	}

	.pagination-nav__item {
		max-width: 100%;
	}

	.pagination-nav__item + .pagination-nav__item {
		margin-top: 8px;
		margin-left: 0;
	}
}

/* CONTENT ELEMENTS */

div[class^='docItemContainer'] h1,
div[class^='docItemContainer'] h2 {
	margin: 32px 0px;
	font: 400 72px / 1 'Source Sans Pro', sans-serif;
	color: var(--qtheme-color-darkL2);
}

div[class^='docItemContainer'] h3,
div[class^='docItemContainer'] h4 {
	margin: 24px 0px 12px;
	font: 400 36px / 1.2 'Source Sans Pro', sans-serif;
	color: var(--qtheme-color-darkL2);
}

div[class^='docItemContainer'] h5 {
	margin: 16px 0px 8px;
	font: 500 24px / 1.2 'Source Sans Pro', sans-serif;
	color: var(--qtheme-color-darkL2);
}

div[class^='docItemContainer'] h6 {
	margin: 16px 0px 8px;
	font: 500 20px / 1.2 'Source Sans Pro', sans-serif;
	color: var(--qtheme-color-darkL2);
}

div[class^='docItemContainer'] p,
div[class^='docItemContainer'] ol,
div[class^='docItemContainer'] ul,
div[class^='docItemContainer'] table {
	font-size: 20px;
}

@media screen and (max-width: 1439px) {
	div[class^='docItemContainer'] p,
	div[class^='docItemContainer'] ol,
	div[class^='docItemContainer'] ul,
	div[class^='docItemContainer'] table {
		font-size: 18px;
	}
}
@media screen and (max-width: 575px) {
	div[class^='docItemContainer'] h1,
	div[class^='docItemContainer'] h2 {
		font-size: 56px;
	}
}
@media screen and (max-width: 479px) {
	div[class^='docItemContainer'] h1,
	div[class^='docItemContainer'] h2 {
		font-size: 48px;
	}
	div[class^='docItemContainer'] h3,
	div[class^='docItemContainer'] h4 {
		font-size: 30px;
	}
}
@media screen and (max-width: 359px) {
	div[class^='docItemContainer'] h1,
	div[class^='docItemContainer'] h2 {
		font-size: 40px;
	}
	div[class^='docItemContainer'] h3,
	div[class^='docItemContainer'] h4 {
		font-size: 24px;
	}
}

div[class^='codeBlockLines'] {
	padding: var(--ifm-pre-padding);
	font-family: var(--ifm-font-family-monospace);
	font-size: var(--ifm-code-font-size);
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	border-radius: var(--ifm-code-border-radius);
	display: block;
}

div[class^='codeBlockLines'],
div[class^='codeBlockLines'] .token-line {
	color: var(--ifm-code-color) !important;
	background-color: var(--ifm-code-background) !important;
}

code {
	max-width: 100%;
	white-space: nowrap;
	display: inline-block;
	overflow-x: auto;
}
